<header
  class="welcome-hero"
  {% if page.cover_image %}
  style="background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.6)), url('{{ page.cover_image.image }}');"
  {% endif %}
>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="header-text">
          
          <h2>
            KDD'26 Workshop on<br />
            SciSoc Agents & LLMs<br />
            <span style="font-size: 0.6em; font-weight: 400; line-height: 1.2; display: inline-block; margin-top: 15px;">
              Agentic AI for Scientific and Societal Advances
            </span>
          </h2>

          <div class="info-wrapper mt-4">
            <p><i class="fas fa-calendar-alt"></i> August 4th, 2026 | 13:00-17:00 (AoE)</p>
            <p><i class="fas fa-map-marker-alt"></i> {{ page.location }}</p>
          </div>

          {% if page.buttons %}
          <div class="btn-wrapper d-flex justify-content-center mt-3">
            {% for button in page.buttons %}
            <a
              href="{{ button.url }}"
              class="btn btn-custom m-1"
              target="_blank"
            >
              {{ button.text }}
            </a>
            {% endfor %}
          </div>
          {% endif %}
          
        </div>
      </div>
    </div>
  </div>
</header>