{% if page.show_papers or page.papers %}
<section id="papers" class="{% if page.papers_standalone %}standalone-section{% endif %}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="section-heading">
          <h3>Accepted Papers</h3>
          <div class="separator-div"></div>
        </div>

        {% if page.paper_categories %} {% for category in page.paper_categories
        %}
        <h4>{{ category.name }}</h4>
        <ul>
          {% for paper in category.papers %}
          <li>
            <span>{{ paper.title }}</span>
            {% if paper.authors %}
            <span class="authors">{{ paper.authors }}</span>
            {% endif %}
            <a href="{{ paper.url }}" target="_blank">Paper Link</a>
          </li>
          {% endfor %}
        </ul>
        {% endfor %} {% elsif page.papers %}
        <ul>
          {% for paper in page.papers %}
          <li>
            <span>{{ paper.title }}</span>
            {% if paper.authors %}
            <span class="authors">{{ paper.authors }}</span>
            {% endif %}
            <a href="{{ paper.url }}" target="_blank">Paper Link</a>
          </li>
          {% endfor %}
        </ul>
        {% elsif page.papers_intro %}
          {{ page.papers_intro | markdownify }}
        {% else %}
        <p>Accepted papers will be announced soon.</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endif %}
